<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cheesecake</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>cheesecake</h1>
    </header>
    {% if backups | length %}
    <form id="chat_switcher">
        <div>
            <label for="backup">Backup:</label>
            <select id="backup">
            {% for backup in backups %}
            <option value="{{ backup[0] }}" {% if backup[0] == backup_path %}selected{% endif %}>{{ backup[1] }}</option>
            {% endfor %}
            </select>
            <label for="chat">Chat:</label>
            {% if chats | length %}
            <select id="chat">
                {% for chat in chats %}
                    <option value="{{ chat[0] }}" {% if chat[0] == chat_id %}selected{% endif %}>{{ chat[1] }}</option>
                {% endfor %}
            </select>
            {% else %}
            <input type="password" id="chat" placeholder="password">
            {% endif %}
        </div>
        <button type="submit">proceed</button>
    </form>
    {% else %}
    <p>No cheesecakes were found in the refrigerator.</p>
    {% endif %}
    <div id="toast"></div>
    <footer>
        © 2021 | v0.1.0 | Built by aravk
    </footer>
</body>
<script src="/scripts/jquery-3.6.0.min.js"></script>
<script>
    const initial_chats = {{ mapped_chats | safe }};
    let chats = {{ mapped_chats | safe }};
</script>
<script src="/scripts/main.js"></script>
</html>
